/* Appliquer une police de caractères et une couleur de texte */
body {
  color: #333;
  margin: 10px;
}
*{
  font-family: 'Work Sans', sans-serif;
}
/* Centrer le titre et ajuster sa taille */
h1 {
  text-align: center;
  font-size: 2em;
}

/* Ajouter une bordure et un remplissage à la boîte du formulaire */
form { 
  padding: 20px;
  max-width: 840px;
  margin: auto;
  box-shadow: 0 0.3em 1em #000;
  border-radius: 4px;
}

/* Ajuster la largeur des champs de saisie de texte */
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Ajouter un espacement vertical entre les champs de saisie */
input[type="text"] + br,
input[type="email"] + br,
input[type="date"] + br {
  display: block;
  height: 10px;
}

label {
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}

.form2 {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  flex-direction: row;
  align-items: center;
  height: 42px;
}
.box .form2 p {
  margin: 0;
  margin-top: 2px;
  margin-right: 16px;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  margin-right: 20px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}




input[type="tel"] {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 22px;
  border-radius: 0px 3px 3px 0px;
}

img{
  width: 21px;
  height: 13px;
  padding: 10px;
  padding-top: 12px;
}

/* Ajuster l'espacement vertical des boutons radio */
input[type="radio"] {
  margin-bottom: 5px;
}

/*toggle switch*/

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 49px;
  height: 18px;
}

.switch input{
 display: none;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 23px;
  left: 0px;
  bottom: -2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0px 0px 2px black;
}

input:checked + .slider {
  background-color: #03a10b;
}


input:checked + .slider:before {
 transform: translateX(26px);
}

/* Ajouter un style au bouton de soumission */
input[type="submit"] {
  background-color: grey;
  color: rgb(71, 70, 70);
  padding: 12px 20px;
  border: none;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 90%;
  margin-top: 2px;
  margin-bottom: -10px;
  font-weight: 600;
}

input[type="submit"]:hover {
  background-color: #03a10b;
  color: white;
}

.notif {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 17px;
}

  

/* drag and drop box */
#drag-drop-box {
  display: flex;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  height: 80px;
  margin: auto;
  width: 85%;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
}


#drag-drop-box p {
  margin: 0;
  font-size: 16px;
  color: #aaa;
  font-weight: 600;
}
/*icone nuage upload*/

.material-symbols-outlined {
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  direction: ltr;
  color: #aaa;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*ligne séparatrice*/
hr {
  width: 880px;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  margin-left: -20px;
}
 
label p {
  font-size: 14px;
  font-weight: normal;
  margin: 7px;
  margin-bottom: 10px;
}
/*ligne de progression*/

.progress-bar {
  height: 10px;
  background-color: #ff392f;
  width: 14%;
  margin: auto;
  z-index: 3;
  border-radius:  4px 0px 0px 0px;
}


.progress-bar2 {
  height: 10px;
  background-color: #f17670;
  width: 100%;
  margin: auto;
  border-radius: 0px 4px 0px 0px;
}

.number{
  font-size: 14px;
  color: white;
  background-color: #ff392f;
  border-radius: 18px;
  width: 31px;
  padding: 9px;
  padding-left: 14px;
  height: 10px;
  display: flex;
  align-items: center;
}

.number p{
 font-weight: bold;
}


.container {
  display: flex;
  flex-direction: column;
  margin: -20px;
  align-items: center;
}


.box{
  display: flex;
  height: 41px;
}
 
.progress-box {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}




@media screen and (max-width: 768px) {
  body{
    margin: 0;
  }
  /* Ajuster la taille du titre sur les petits écrans */
  h1 {
    font-size: 1.5em;
  }
  
  /* Ajuster la largeur des champs de saisie de texte */
  input[type="text"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
  }
  
  /* Ajuster la largeur de la boîte du formulaire */
  form {
    width: auto;
  }
  
  hr {
    display: none;
  }

  .number p {
   padding : 3px;
  }
  /* Ajuster l'espacement autour de l'image */
  img {
    padding-left: 13px;
    padding-right: 5px;
  }
  
  /* Ajuster la position du bouton de soumission */
  input[type="submit"] {
    left: 80%;
  }
  
  /* Ajuster la largeur et la hauteur de la zone de glisser-déposer */
  #drag-drop-box {

    height: 120px;
  }
  
  /* Adapter la taille des icônes de matériel décrivant */
  .material-symbols-outlined {
    font-size: 18px;
  }
  
  /* Ajuster la taille des paragraphes */
  label p {
    font-size: 12px;
  }


  
  /* Ajuster la taille du numéro */
  .number {
    font-size: 12px;
  }
  
  /* Ajuster la largeur de la boîte .box */
  .box {
    width: 100%;
  }
  
 /* Ajuster la barre de progression */
 .progress-box{
    width: 100%;
    box-sizing: border-box;
 }
 .progress-bar{
    box-sizing: border-box;
    border-radius: 0px;
 }

  .progress-bar2{
    width: 100%;
    box-sizing: border-box;
    border-radius: 0px; 
  }
}
  
  
  
  
  